body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    user-select: none;
    background-color: var(--verde);
}

:root {
    --wachuga: red;
    --amarillo: #fdf8f5;
    --negro: black;
    --descripcion: #131313;
    --fondo: #000000de;
    --verde: #131313;
}

.ContenedorFotoPerra {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: var(--fondo);
}

.FotoPerra {
    animation: pedo 0.3s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@keyframes pedo {
    from {
        opacity: 0;
        scale: 1.2;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.descripcion {
    position: fixed;
    border-radius: 50px;
    display: flex;
    height: 70%;
    background-color: var(--descripcion);
    top: 20%;
    left: 50%;
    margin-top: -7%;
    margin-left: -35%;
    width: 70%;
    height: 80%;
    z-index: 1;
    overflow: hidden;
    /* oculta el scrollbar */
}

.left {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 1;
}

.right {
    width: 100%;
    min-height: 10px;
    height: auto;
    overflow-y: scroll;
    /* solo habilita el scroll vertical */
}


p {
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    max-width: max-content;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    font-size: 20px;
    z-index: 10;
}

.cerrar {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 100% 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

/* Cambia la apariencia de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 13px;
    z-index: 4;
}

/* Cambia el color de fondo de la barra */
::-webkit-scrollbar-track,
::-ms-track {
    color: transparent;
    background-color: transparent;
    z-index: 4;
}

/* Cambia el color de la barra en sí */
::-webkit-scrollbar-thumb {
    background-color: var(--amarillo);
    border-radius: 5px;
    /* Redondea la barra */
    z-index: 4;
}

span {
    color: var(--amarillo);
}

#expertise {
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    color: var(--amarillo);
}

.container {
    padding: 0px;
}

.main {
    margin-top: 5vh;
    text-align: center;
    justify-content: center;
}

/*Sizing*/
.spacer {
    max-width: 1300px;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
    justify-content: center;
}

/*Expertise Section*/
.cards {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
}

.tabla {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px 50px;
}

.contenedor {
    position: relative;
    height: 250px;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
    justify-content: center;
}

.imagen {
    text-align: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    z-index: 7;
}

/*Jumbotron Section*/
.jumbotron {
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: center;
}

.jumbotron h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/* Aqui empieza el codigo del audio xd */
.containerrr {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.espacio {
    display: flex;
    margin: auto;
    justify-content: baseline;
    vertical-align: top;
}

.button {
    display: flex;
    background-color: #282828;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 200px;
    height: 100px;

    border-radius: 200px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
}

.button::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: inset 0px 0px 10px 0px var(--negrotransparente);
}

input:checked+.button {
    background-color: #595959;

    box-shadow: inset 0px 0px 10px 0px var(--negrotransparente);
}

input:checked+.button::before {
    transform: translateX(100px);
}

input {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .jumbotron h2 {
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .tabla {
        scale: 1;
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px 50px;
    }

    .descripcion {
        position: fixed;
        border-radius: 50px;
        display: block;
        height: 70%;
        background-color: var(--descripcion);
        top: 20%;
        left: 50%;
        margin-top: -20%;
        /* la mitad de la altura del div pero negativo*/
        margin-left: -35%;
        /* la mitad del ancho del div pero negativo*/
        width: 70%;
        height: 80%;
        z-index: 1;
        overflow: hidden;
        /* oculta el scrollbar */
    }

    .left {
        margin: auto;
        margin-bottom: 0px;
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0px;
        z-index: 3;
    }

    .right {
        min-height: 10px;
        margin: -100px auto auto auto;
        width: 100%;
        height: 40%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    p {
        min-height: 20%;
        height: auto;
        text-align: left;
        margin-left: 20px;
        margin-top: -20px;
        word-wrap: break-word;
        max-width: 85%;
        color: white;
        font-family: "Playfair Display", serif;
        font-weight: lighter;
        font-size: 20px;
        z-index: 2;
    }
}